<a href="https://colab.research.google.com/github/Jonathan-Nyquist/PLAM/blob/main/Class07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='Top'></a>
# Class07: A Review
## Learning Objectives
* [Variables and printing](#Variables)
* [Basic Math](#BasicMath)
* [Data Structures](#Structures)
* [Control Structures](#Control)
* [Functions and Modules](#Functions)
* [File I/O](#IO)
* [Martian Challenge: Food!](#Challenge)

We are halfway through this crash course in Python programming. We've covered a lot of ground quickly, and those of you with little prior computer experience may be feeling a little breathless, so we will take time out to review. This notebook is fairly long, but concepts should be familiar.  We will finish with a new Martian Challenge!

<a id='Variables'> </a>

## Variables and printing
[Top of Notebook](#Top)

Variables are where you store stuff. The most basic flavors are integers, floating points numbers (with a decimal point), and strings (text). Variable names must be one word and cannot begin with a number. Longer names can be constucted using underscores. Case matters, so big, Big, and BIG are different variable names.

Some examples:

In [2]:
# Example sting, integer and float
mandarin_greeting = 'Ni Hao!'
year = 2023
pi_approximation = 22/7
print(mandarin_greeting, type(mandarin_greeting))
print(year, type(year))
print(pi_approximation, type(pi_approximation))

Ni Hao! <class 'str'>
2023 <class 'int'>
3.142857142857143 <class 'float'>

The print statement is the work-horse function for outputting results. You and print more than one variable and can use strings with variable substitution to insert your results.

In [3]:
# Multiple variables in one print statement
print(mandarin_greeting, year, pi_approximation)
print('Simple to remember, 22/7 is {0}, which is reasonably close the real value of pi'.format(pi_approximation))

Ni Hao! 2023 3.142857142857143
Simple to remember, 22/7 is 3.142857142857143, which is reasonably close the real value of pi

**Something new, so PAY ATTENTION:** You can also control the number of decimal places printed. In fact, there are a lot of special codes you can insert to fine-tune the appearance of the output. See: https://www.datacamp.com/tutorial/f-string-formatting-in-python for lots of examples.

The basic ideas was that before we wrote {variable_name} inside the string to substitute the first variable. But you can also write {variable_name:some format code} where the format code comes after the semicolon. In the example below the format code is .4f, which mean four places after the decimal, and print as a floating point number.

In [10]:
# Define a variable
a = 22/7

# Print the variable using an f-string (f stands for formatted)
print(f"An approximate value for pi is {a}")

# We can format this similarly:
print(f"To four decimal places this is {a:.4f}")

An approximate value for pi is 3.142857142857143
To four decimal places this is 3.1429

<a id='BasicMath'> <a/>
## Basic math
[Top of Notebook](#Top)

Basic math operations are built into Python, but you must always be aware of which operations are performed first (operator precedence) as it is not a simple left-to-right evaluation. Use parenthesis if you need to enforce a particular order of operations.

In [ ]:
1 + 3 * 7

22

In [ ]:
(1 + 3) * 7

28

For more a more advanced operations you may need to load a module, such as the Python math module.

In [11]:
import math
pi_approximation = 22/7
true_pi = math.pi
print(f'The approximation to pi of 22/7 is off by about {true_pi - pi_approximation:.4f}.')
print('Which is roughly 0.1 percent, or one part in a thousand.')

# Notice this trick to print a string that contains an apostrophe.
print("Good enough for government work? Not if you're NASA!")

The approximation to pi of 22/7 is off by about -0.0013.
Which is roughly 0.1 percent, or one part in a thousand.
Good enough for government work? Not if you're NASA!

**Student Challenge:** Square the number pi and print the result to seven decimal places.

<a id='Structures'> </a>
## Data Structures
[Top of notebook](#Top)

Beyond simple integers, floats and strings, Python has a number of data structures. The most common are lists, tuples and dictionaries (althougth there are others).

List and tuples are similar. Referencing a member or slicing out a portion works the same for both. The principle difference is that you can add, subtract or modify elements of a list, but tuples are immutable (unchangeable). You have to make a whole new tuple if you want a change.

### Lists

In [12]:
# List are declared using square brackets
my_hobbies = ['Chess', 'Go', 'Bicycling', 'Programming']
print(type(my_hobbies))

<class 'list'>

In [13]:
# Add to a list with append()
my_hobbies.append('Travel')
print(my_hobbies)

['Chess', 'Go', 'Bicycling', 'Programming', 'Travel']

In [ ]:
# Reference an element, count starts at zero
print(my_hobbies[2])

Bicycling

In [14]:
# Modify an element
my_hobbies[2] = 'Reading'
print(my_hobbies)

['Chess', 'Go', 'Reading', 'Programming', 'Travel']

In [15]:
# Slice out a portion of a list
# Note that 2:5 means elements 2, 3, and 4 (up to but not including 5)
print(my_hobbies[2:5])

['Reading', 'Programming', 'Travel']

### Tuples

In [16]:
# List are declared using parentheses
my_hobbies = ('Chess', 'Go', 'Bicycling', 'Programming')
print(type(my_hobbies))

<class 'tuple'>

In [17]:
# A tuple is immutable, so we get an error message when we try to add to it.
my_hobbies.append('Travel')
print(my_hobbies)

AttributeError: ignored

In [18]:
# Reference an element, count starts at zero
# Works the same as for a list
print(my_hobbies[2])

Bicycling

In [19]:
# Slice out a portion of a list
# Note that that slicing a list returns a list
# Slicing a tuple returns a tuple
print(my_hobbies[2:5])

('Bicycling', 'Programming')

In [20]:
# You can convert a list to a tuple
my_hobbies = ['Chess', 'Go', 'Bicycling', 'Programming']
print(type(my_hobbies))
my_hobbies = tuple(my_hobbies)
print(type(my_hobbies))

# Or a tuple to a list
my_hobbies = ('Chess', 'Go', 'Bicycling', 'Programming')
print(type(my_hobbies))
my_hobbies = list(my_hobbies)
print(type(my_hobbies))

<class 'list'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>

### Dictionaries
Dictionaries hold key:value pairs and are great for storing data you want to look up by the key.

In [21]:
# Dictionaries are declared using curly brackets and accessed by key
library_phones = {'Circulation':'215-204-0744', 'Reserves':'215-204-0744', 'Reference':'215-204-8212'}
print(library_phones['Circulation'])

215-204-0744

In [22]:
# Dictionaries are mutable. Here we add an element.
library_phones['Exhibitions'] = '215-204-8257'
print(library_phones)

{'Circulation': '215-204-0744', 'Reserves': '215-204-0744', 'Reference': '215-204-8212', 'Exhibitions': '215-204-8257'}

**Important point:** The elements in a dictionary are not stored in any particular order in older versions of python, but starting in version 3.6 Python remembers the order of elements.

Notice that we defined the list with the elements in one order, but don't be surprised if it prints in another order. You can't reference an element by number, only by key.

You can create a dictionary from two lists. But it involves **a new trick.** First you need to learn about the zip() function which works though two variables item by item in pairs.

#### Zip function

In [23]:
# Create two lists
a = ['a', 'b', 'c', 'd']
b = [1, 2, 3, 4]

# Make a new list with zip
# Zip returns a series of tuples, pairing the items in order.
list(zip(a,b))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

#### Zip is perfect for turning two lists into a dictionary.

In [24]:
# Create two lists
a = ['a', 'b', 'c', 'd']
b = [1, 2, 3, 4]

# Make a new dictionary with zip
c = dict(zip(a, b))
print(c)

# Reference a value using its key
print(c['b'])

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
2

**Student Challenge:** Using the informatio in the table below, make a variable that is a list of cheeses and another variable that is a list of calories counts. Zip them into a dictionary, then print out the value for 'Edam'. (Note: Calories are based on a 28 gram serving size: http://bit.ly/2dAJUcK)

 Cheese | Calories |
--------|----------|
 Cheddar | 75|
 Feta | 110 |
 Finuta | 101 |
 Gouda | 80 |
 Mozzarella | 80 |
 Edam | 98 |

<a id='Control'> </a>
## Control Structures
[Top of notebook](#Top)

Control structures are Python statements that alter the execution flow.  Without control structure a program just executes the statements in order from first to last.  Two commonly used control structures are for loops and if/then statements. In both cases indentation is used to tell Python which statement are part of the structure.

### For Loops
The type of loop we have learned so far is the for loop. When applied to a list or tuple it executes all of the statements inside the indented block once for each element.

In [25]:
# Generate a list of squares of numbers
a = [1,2,3,4,5]
for x in a:
    print(f'{x} squared is {x**2}')

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

### While Loops (something new)
While loops are a little different. They loop while a condition is true. Here is an example:

In [26]:
# Loop until the number exceeds the limit.
x = 1
while x < 10:
    print(f'{x} squared is {x**2}')
    x += 1

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81

At the start of the loop x = 1. Then for each interation the value of x is incremented by one and tested to see if it is still less than 10. The loop ends when x < 10 evaluates as false. You have to be careful, though, if you accidently design a while loop where the condition is never false it will loop forever! For that reason, most of the time a for loop is better.

### If/then statements
Another way to change the statement execution flow is with the if/then combination. A loop executes the same set of statements over and over. But the if/then combination sends you down different pathways depending on some condition, or series of conditions.

The if/elif (short for "else if") structure below prompts the user for his or her age and issues a bedtime edict depending on the response. Try running the cell below a number of times entering differnt ages. Do you understand how it works?

In [28]:
### Here we have different bed time behaviors depending on your age.
age = input(prompt = 'Enter your age: ')

# Input always returns a string. Convert it to a number.
age = float(age)
if age < 0:
    print("Don't be stupid. Enter a positive age.")
elif age <= 10:
    print('It is 8 p.m.')
    print('Warm milk, a hug, and off to bed.')
elif age > 10 and age <= 18:
    print('If your homework is done you can play a video game or text your friends until 10 pm.')
elif age > 18 and age <= 22:
    print('Drink beer and party until 2 a.m.')
elif age > 22 and age <= 65:
    print('TV off my 11 pm; you have to work tomorrow.')
elif age > 65 and age <= 100:
    print('It is 8 p.m.')
    print('Warm milk, a hug, and off to bed.')
else:
    print('Over 100? Hell! Do what you want.')

Enter your age: 101
Over 100? Hell! Do what you want.

**Student Challenge:** Create a variable that contains the following list of words: 'Carrots', 'Peas', 'Corn', 'Orange'. Loop over the list and print each element in all capital letters except for 'Orange', which you print unchanged.

**Hint** Make the list. Loop over the elements and test to see if they are equal to Orange. Remember: to test for equality use ==, not =. The string method upper() will convert a string to all upper case.

<a id = 'Functions'> </a>

## Functions and Modules
[Top of Notebook](#Top)

Functions you write yourself, or modules, which are collections of functions you or someone else wrote that can be loaded as needed, are a convenient way to write bits of code that accomplish a particular task. Once written, they can be used again and again in new projects. Creating new function is like adding new tools to your toolbox. Advanced programmers create new bundles of functions and share then on the web, allowing other programmers to contribute. That is how new modules are born and the power of Python grows.

Each function should be written to solve a fairly specific task. The function takes one or more input parameters and returns one or more outputs.

In [29]:
# This function take a person's name as input an then prints the Happy Birthday song for them.
def happy(name):
    print("Happy Birthday to you!")
    print("Happy Birthday to you!")
    print(f"Happy Birthday, dear {name}.")
    print("Happy Birthday to you!")

# Call the function
happy('Dana')

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday, dear Dana.
Happy Birthday to you!

The happy() function takes one input parameter and does it's thing, but does not return an output parameter.

Here is a function that compute the length of the hypotenuse of a right triangle given the length of the two sides.
![Right triangle](http://www.miniwebtool.com/s/i/pythagorean-theorem.png)

In [30]:
# Define a function with two inputs and one output
def hypotenuse(a,b):
    import math
    c = math.sqrt(a**2 + b**2)
    return c

hypotenuse(3, 4)

5.0

** Student Challenge:** Write a function that accepts a number as the input parameter and prints "Positive" if the number greater than or equal to (>=) zero and "Negative" otherwise. Test your function.

<a id='IO'> </a>
## File I/O (Input/Output)
[Top of Notebook](#Top)

Accomplished any real programming task will involve reading and writing files. For now we will stick with simple text files. The with statement takes care of opening and closing the file object. It is easy to read a file line by line in a loop. Or, if  you don't need to operate on each line individually you can read in the whole file into a variable, as in the example below.

The file named 'haiku.txt' should be in the same folder as this notebook.

In [31]:
!wget https://raw.githubusercontent.com/Jonathan-Nyquist/PLAM/main/haiku.txt

--2023-06-16 14:23:13--  https://raw.githubusercontent.com/Jonathan-Nyquist/PLAM/main/haiku.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80 [text/plain]
Saving to: ‘haiku.txt’

haiku.txt           100%[===================>]      80  --.-KB/s    in 0s

2023-06-16 14:23:13 (4.20 MB/s) - ‘haiku.txt’ saved [80/80]

In [32]:
with open('haiku.txt', 'r') as poem:
    verse = poem.read()
    print(verse)

I kill an ant
and realize my three children
have been watching.

- Kato Shuson

**Student Challenge:** Read in as second poem from the file 'haiku2.txt'. This time print the poem one line at a time inside a loop.

In [33]:
!wget https://raw.githubusercontent.com/Jonathan-Nyquist/PLAM/main/haiku2.txt

--2023-06-16 14:24:57--  https://raw.githubusercontent.com/Jonathan-Nyquist/PLAM/main/haiku2.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 70 [text/plain]
Saving to: ‘haiku2.txt’

haiku2.txt          100%[===================>]      70  --.-KB/s    in 0s

2023-06-16 14:24:57 (5.82 MB/s) - ‘haiku2.txt’ saved [70/70]

<a id='Challenge'> </a>
## Martian Challenge: Food!
Based on: http://www.space.com/30776-math-in-the-martian-movie-explained-infographic.html

[Top of Notebook](#Top)

## How much food must Watney grow?

### Calorie requirements
Task: Calculate how many calories Watney must grow each day to survive.
In other words, figure out how many days he must last after the rations runs out.
Multiply by his daily calories requirement to get the total calories he must grow.
Divide this today by the number of days.

In [34]:
min_cal = 1500 # Minimum calories needed per day to survive
available_food = 400 # Watney has rations for 400 sols
time_to_rescue = 1400 # Number of sols until Watney can be rescued
calories_needed = (time_to_rescue - available_food) * min_cal
growth_rate = calories_needed/time_to_rescue
print('Watney must grow {:.0f} calories/day in addition to his remaining rations.'.format(growth_rate))

Watney must grow 1071 calories/day in addition to his remaining rations.

### How many pounds of potatoes must Watney grow?
According tohttps://www.fatsecret.com/calories-nutrition/usda/russet-potatoes-(flesh-and-skin)?portionid=48884&portionamount=1.000
a pound of potates has roughly 348 calories.

Calculate the total number pounds of potatoes Watney must grow to avoid starving.

### Does he have enough land?
According to http://www.gardensofeden.org/04%20Crop%20Yield%20Verification.htm,
one of acre of land will yield 15,200 pounds of potatoes.  And Watney doesn't have to worry about lose of crops to pests!

Unfortunately, Watney only has 1,536 square feet of land, which is a less than an acre.  Convert, this area into acres and calculate how many pounds of potatoes Watney can expect to grow.

### Not enough!
Will Whatney starve? Maybe he can grow more than one crop. According to [this site](http://www.connexionfrance.com/potatoes-grow-france-how-long-varieties-10748-news-article.html) it can take up to 120 days to grow a crop.  But Whatney has 1400 sols. Can he raise enough crops?

### Can Watney survive?